@import "../css/plain_css.css";

html {

  body {
    padding: 30px;
    border-right: 10px solid orange;
    div {
      border-bottom: 4px dotted green;
      min-height: 200px;
      background: url("../images/twiter.jpg");
      //background: url("../images/address-book.svg");
    }
  }
}