body{
    border-bottom: 20px solid #999;
}
.test{
    
}
/* line 5, stdin */
html body {
  padding: 10px;
  border-right: 20px solid orange; }
  /* line 8, stdin */
  html body div {
    border-bottom: 4px dotted green; }

